<div class="blog-pagination-container">
    <div class="blog-pagination">
        {% if blogs.has_previous %}
            <a class="blog-prev" href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Newer Posts</a>
        {% endif %}
        <!-- <div class="col-sm-4 pages">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </div> -->
        {% if blogs.has_next %}
            <a class="blog-next" href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Older Posts</a>
        {% endif %}
    </div>
</div>